<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Первые шаги в Vue.js</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>

<!--==========================================================================-->
<div class="wrapper">
    <div class="sample">
        FirstName: <input type="text" v-model="firstName"><br>
        LastName: <input type="text" v-model="lastName">
        <hr>
        <h2>Hello, {{ istut }}</h2>
    </div>
</div>
<!--==========================================================================-->

<script>

  let sa1 = Vue.createApp({
        data: () => ({
            firstName: '',
            lastName: ''
        }),
        // methods: {
        //     onInput(e) {
        //             this.name = e.target.value;
        //     },
        computed: {
            istut() {
                if (this.firstName == 3) {
                    console.log('+');
                }
                return `${this.firstName} ${this.lastName}`;
                }
        }
    })

  sa1.mount('.sample')

</script>

</body>
</html>